header {
    margin:-8px;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #AF3039;
    height: 75px;
    width: 100vw;
}

.container .login, #homepage, #curso, #faculdade, #sobre, #feedback, #login__link {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #f9f9f9;
    text-decoration: none;
    text-align: center;
}