<header>
    <section class="container">
        <img src="./src/assets/industroffice.png" alt="Icone do IndustrOffice">

        <a id="homepage" routerLink="./src/app/pages/home">Página Inicial</a>
        <a id="curso" routerLink="./src/app/pages/cursos">Nossos Cursos</a>
        <a id="faculdade" routerLink="">Faculdade Santa Lúcia</a>
        <a id="sobre" routerLink="./src/app/pages/about">Sobre</a>
        <a id="feedback" routerLink="./src/app/pages/feedback">Feedback</a>

        <div class="login">
            <div class="login__btn">
                <a id="login__link" href="#">Entrar</a>
            </div>
        </div>
    </section>
</header>