<header>
    <div class="container">
        <div class="info__bar">
            <div class="email">
                <p>contato.industroffice&#64;gmail.com</p>
            </div>
    
            <div class="feedback">
                <p>Feedback</p>
            </div>
        </div>
    
        <div class="login">
            <div class="login__btn">
                <form action="">
                    <div class="form__container">
                        <a href="#">Entrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>