<nav class="container">
        <img src="./src/assets/industroffice.png" alt="Icone do IndustrOffice">

        <a id="homepage" routerLink="/">Página Inicial</a>
        <a id="curso" routerLink="/cursos">Nossos Cursos</a>
        <a id="faculdade" routerLink="#">Faculdade Santa Lúcia</a>
        <a id="sobre" routerLink="/about">Sobre</a>
        <a id="feedback" routerLink="/feedback">Feedback</a>

        <div class="login">
            <div class="login__btn">
                <a id="login__link" href="#">Entrar</a>
            </div>
        </div>
</nav>
