<h1>Seja bem vindo ao IndustrOffice</h1>

<p>Faça login para registrar seu progresso em nossos cursos!!</p>

<div class="card__container">
    <div class="card__excel">
        <h2>Excel Básico</h2>
        <p>Nesse curso, você irá entender o que são planilhas eletrônicas, conhecer melhor o mundo que o Excel pode atuar e já irá construir sua primeira tabela com dados.</p>
    </div>

    <div class="card__word">
        <h2>Word Básico</h2>
        <p>O editor de texto mais famoso, nesse curso de Microsoft Word você será capaz de formatar corretamente textos e deixá-los mais apresentáveis, de modo que sua leitura seja extremamente fácil.</p>
    </div>

    <div class="card__powerpoint">
        <h2>Em breve!!</h2>
        <p>Logo mais teremos mais conteúdos para que você possa melhorar ainda mais seus conhecimentos voltados para o mercado de trabalho. </p>
    </div>
</div>