<h1>Seja bem vindo ao <span>IndustrOffice</span></h1>

<p>Faça login para registrar seu progresso em nossos cursos!!</p>

<section class="card__container">
    <div class="card__excel">
        <div class="icon__excel">
            <img src="#" alt="ícone do curso de Excel">
        </div>
        <h2>Excel Básico</h2>
        <p>Nesse curso, você irá entender o que são planilhas eletrônicas, conhecer melhor o mundo que o Excel pode atuar e já irá construir sua primeira tabela com dados.</p>
    </div>

    <div class="card__word">
        <div class="icon__word">
            <img src="#" alt="ícone do curso de Word">
        </div>
        <h2>Word Básico</h2>
        <p>O editor de texto mais famoso do mercado , nesse curso de Microsoft Word você será capaz de formatar corretamente textos e deixá-los mais apresentáveis, de modo que sua leitura seja extremamente fácil.</p>
    </div>

    <div class="card__powerpoint">
        <div class="icon__powerpoint">
            <img src="#" alt="ícone indicando novos conteúdos em breve">
        </div>
        <h2>Em breve!!</h2>
        <p>Logo mais teremos mais conteúdos para que você possa melhorar ainda mais seus conhecimentos voltados para o mercado de trabalho.</p>
    </div>
</section>

<h3>O que o Pacote Office pode te ajudar?</h3>
<p>O Pacote Office é um conjunto de ferramentas da Microsoft que permitem a realização de textos (Microsoft Word), slides para apresentações (PowerPoint), manejo e controle de planilhas eletrônicas (Microsoft Excel), além de outras ferramentas como email (Microsoft Outlook), entre outros. Com essas ferramentas, é possível tornar seu dia de trabalho mais produtivo, além de obter um maior controle sobre informações e dados importantes. Podemos citar o Excel como maior exemplo disso, o software verde do pacote office não é o único software de planilhas eletrônicas no mercado, mas com certeza é o mais dominante e famoso.</p>